.pricing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.pricing .plans {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.pricing .normalPlans {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 32px;
}

.pricing .normalPlans > * {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.pricing .plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  background: #272727cc;
  border: 2px solid #e4e7ec80;

  border-radius: 16px;

  flex: 1 1;
  width: 300px;
  flex-basis: 300px;
}

.pricing .plan > div {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.pricing .plan .planTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
}

.pricing .plan .planTitle .icon {
  overflow: visible;
  position: relative;
  height: 48px;
  width: 48px;
}
.pricing .plan .planTitle .icon img {
  position: absolute;
  height: 62px;
  width: 62px;
  max-width: 62px;
  top: -14px;
  right: -14px;
}

.pricing .plan .planTitle h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #d39cdd;

  align-self: stretch;
  flex-grow: 0;
}

.pricing .plan .cta {
  margin-top: 24px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.pricing .price {
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: -0.02em;

  color: var(--highEmphasisTextColor);

  flex: none;
  flex-grow: 0;
}

.pricing .description {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-wrap: nowrap;

  color: var(--textColor);

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.pricing .plan hr {
  background: #e4e7ec80;
  border: none;
  height: 2px;
  width: 100%;
}

.pricing .plan .features {
  align-items: start;
  overflow-x: auto;
}

.pricing .plan .features h5 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  flex: 1 1;

  align-self: stretch;

  color: #d39cdd;
}

.pricing .plan .features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--textColor);
}

.pricing .plan .features strong {
  text-transform: capitalize;
}

.pricing .plan .features ul {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--textColor);
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
  flex: 1 1;
  min-width: 0;
  max-width: 100%;
}
.pricing .specialPlan .features ul {
  height: 200px;
}

@media (max-width: 640px) {
  .pricing .specialPlan .features ul {
    height: auto;
    width: 100%;
  }
}

.pricing .plan .features li {
  background: url("/assets/images/icons/check.svg") no-repeat 0 0 transparent;
  padding-left: 36px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: 1 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

.pricing .specialPlan {
  width: 100%;

  background: radial-gradient(
      134.57% 100% at 50.05% 0%,
      #00000000 54.78%,
      #07030812 65.9%,
      #521f5bcc 82.09%,
      #9b3aa8a3 90.3%,
      #ef8ba5cc 100%
    ),
    #111111;

  box-sizing: border-box;

  position: relative;
  background-clip: padding-box;
  border: solid 2px transparent;
}

.pricing .specialPlan::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(174.68deg, #b151c3 4.26%, #ea698b 95.75%),
    linear-gradient(#e4e7ec80, #e4e7ec80);
}

.pricing .specialPlan > div {
  padding-bottom: 64px;
}

@media (min-width: 640px) {
  .pricing .specialPlan {
    align-items: start;
    flex-direction: row;
  }
  .pricing .specialPlan > div {
    align-items: start;
  }
  .pricing .specialPlan > div:first-child {
    width: 500px;
  }
  .pricing .specialPlan p,
  .pricing .specialPlan h4 {
    text-align: left;
  }
  .pricing .specialPlan .planTitle h4 {
    align-self: initial;
  }
  .pricing .specialPlan .planTitle {
    flex-direction: row;
    align-items: center;
  }
  .pricing .specialPlan hr {
    height: 100%;
    width: 2px;
    flex-shrink: 0;
  }
}
