.footer {
  width: 100%;
  background: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer > div {
  width: 100%;
  max-width: 1100px;
}

.footer section {
  display: flex;
  flex-direction: row;
  padding: 64px 32px 48px 32px;

  gap: 64px;
}

.footer .logoAndDescription {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer .logo img {
  height: 48px;
}

.footer .logo h2 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;

  color: var(--highEmphasisTextColor);

  padding: 0;
}

.footer .description {
  text-align: start;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--lowEmphasisTextColor);
}

.footer .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 16px;
  gap: 24px;
}

.footer .categories > .category {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 160px;
}

.footer .links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer .categoryName {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: left;

  color: var(--activeHighlightColor);
}

.footer .link {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: fit-content;

  color: var(--lowEmphasisTextColor);

  transition: color var(--transitionDuration) var(--transitionTimingFunction);
}

.link:hover {
  color: var(--hoverTextColor);
}

.footer section:last-child {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 48px 32px;
}

.footer section:last-child p {
  flex: 1 1;
  text-align: left;

  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--activeHighlightColor);
}

.footer section:last-child img {
  transition: opacity var(--transitionDuration) var(--transitionTimingFunction);
}
.footer section:last-child img:hover {
  opacity: 0.5;
}

@media (max-width: 640px) {
  .footer section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .categories {
    padding-left: 0;
    justify-content: center;
  }
}
