.gjs-one-bg {
    background-color: #463a3c
}

.gjs-one-color {
    color: #463a3c
}

.gjs-one-color-h:hover {
    color: #463a3c
}

.gjs-two-bg {
    background-color: #b9a5a6
}

.gjs-two-color {
    color: #b9a5a6
}

.gjs-two-color-h:hover {
    color: #b9a5a6
}

.gjs-three-bg {
    background-color: #804f7b
}

.gjs-three-color {
    color: #804f7b
}

.gjs-three-color-h:hover {
    color: #804f7b
}

.gjs-four-bg {
    background-color: #d97aa6
}

.gjs-four-color {
    color: #d97aa6
}

.gjs-four-color-h:hover {
    color: #d97aa6
}

.gjs-logo-version {
 background-color: #756467;
}

.icons-flex {
    background-size: 70% 65% !important;
    height: 15px;
    width: 17px;
    opacity: 0.9;
}

.icon-dir-row {
    background: url("/assets/images/demos/flex-dir-row.png") no-repeat center;
}

.icon-dir-row-rev {
    background: url("/assets/images/demos/flex-dir-row-rev.png") no-repeat center;
}

.icon-dir-col {
    background: url("/assets/images/demos/flex-dir-col.png") no-repeat center;
}

.icon-dir-col-rev {
    background: url("/assets/images/demos/flex-dir-col-rev.png") no-repeat center;
}

.icon-just-start {
    background: url("/assets/images/demos/flex-just-start.png") no-repeat center;
}

.icon-just-end {
    background: url("/assets/images/demos/flex-just-end.png") no-repeat center;
}

.icon-just-sp-bet {
    background: url("/assets/images/demos/flex-just-sp-bet.png") no-repeat center;
}

.icon-just-sp-ar {
    background: url("/assets/images/demos/flex-just-sp-ar.png") no-repeat center;
}

.icon-just-sp-cent {
    background: url("/assets/images/demos/flex-just-sp-cent.png") no-repeat center;
}

.icon-al-start {
    background: url("/assets/images/demos/flex-al-start.png") no-repeat center;
}

.icon-al-end {
    background: url("/assets/images/demos/flex-al-end.png") no-repeat center;
}

.icon-al-str {
    background: url("/assets/images/demos/flex-al-str.png") no-repeat center;
}

.icon-al-center {
    background: url("/assets/images/demos/flex-al-center.png") no-repeat center;
}

.gjs-pn-commands {
    min-height: 40px;
}

.gjs-pn-btn.gjs-pn-active {
 box-shadow: none;
}

.CodeMirror {
    min-height: 450px;
    margin-bottom: 8px;
}

.grp-handler-close {
    background-color: transparent;
    color: #ddd;
}

.grp-handler-cp-wrap {
    border-color: transparent;
}