.container {
  display: flex;
  justify-content: center;
  position: sticky;
  height: 0;
  top: 36px;
  z-index: 10;
  pointer-events: none;
  margin: 0px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.navbar {
  height: fit-content;
  padding: 11px 20px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  pointer-events: all;
  max-width: 1150px;
}

/* allow nested backdrop-filter */
.navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* moved from .navbar */
  border-radius: 1000px;
  border: solid 2px #ffffff33;
  background: #38303780;
  backdrop-filter: blur(100px);
  background-clip: padding-box;
}

.navListLayer {
  background: linear-gradient(135.92deg, #281c26c1 7.48%, #130c12 98.29%);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff33;
  background-clip: padding-box;
}

.drawerButton {
  display: none;
}

.drawer {
  display: none;
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  flex: 1 0;
}

.logo a {
  display: block;
  width: fit-content;
}

.links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.link {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  padding: 5px 0.5rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  border-color: var(--textColor);
  transition: var(--transitionDuration) var(--transitionTimingFunction);
  transition-property: color, border-color;
}

.link:hover {
  color: white;
  border-color: white;
}

@media (max-width: 875px) {
  .navbar .links {
    display: none;
  }
  .drawerButton {
    display: block;
  }
  .drawer {
    color: #fff;
    background: linear-gradient(120deg, #d983a6, #842d73);
    touch-action: none;
    display: block;
    position: fixed;
    z-index: -1;
    padding-bottom: 16px;
    top: 0px;
    left: 0%;
    padding-top: calc(68px + 16px);
    padding-right: 32px;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform var(--transitionDuration)
      var(--transitionTimingFunction);
    pointer-events: all;
    /* }

  .container.home .drawer { */
    color: var(--textColor);
    background: var(--backgroundColor);
    padding-top: calc(36px + 68px + 16px);
    padding-right: 48px;
  }
  .drawer.open {
    transform: translateX(0%);
  }
  .drawer .links {
    flex-direction: column;
    align-items: flex-end;
  }
  .drawer .link {
    width: fit-content;
  }
}
