.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.panels {
  position: relative;
}

.panel {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;

  animation-duration: var(--transitionDuration);
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.panel:not(.selected) {
  animation-name: fade-out;
}

.selected {
  position: relative;
  z-index: 0;
  pointer-events: all;
  animation-name: fade-in;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
