@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-weight: 300;
}

.link-gjs {
    color: #c64563;
    text-decoration: none;
}

.link-gjs:hover {
    text-decoration: underline;
}

.darker-link{
    color: #9e5381;
}

.btn.btn-gjs {
    background-color: #9e5381;
    border: medium none;
    font-size: 20px;
    font-weight: 300;
    padding: 0.75rem 3rem;
    text-align: center;
    color: #eee;
    border-radius: 0.3rem;
}

.bg-gjs {
    background-color: #b5658f;
    background-image: linear-gradient(120deg, #d983a6, #842d73);
    color: #fff;
}

.primary-title {
    color: #c64563;
}