* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-manrope), Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

main {
  position: absolute;
}

.bg {
  background: url(/assets/images/background.svg) bottom -200px center no-repeat,
    url(/assets/images/background-pattern.svg) top center, #060406;
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  z-index: -1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 16px;
}

section:nth-of-type(1) {
  padding-top: calc(74px + 72px + 36px);
  background: radial-gradient(
    circle at top,
    rgba(6, 4, 6, 0) 30.16%,
    #3d1844 71.62%,
    #973aa8 86.82%,
    #c277d0 100%
  );
  /* mix-blend-mode: screen; */
  padding-bottom: 0;
  margin-bottom: 0;

  overflow: hidden;
}

section:nth-of-type(2) {
  position: relative;
  width: 100%;
  padding-top: 0;
  /* backdrop-filter: blur(7px); */
}

section:nth-of-type(2)::before {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 100dvw;
  height: 400px;
  background: linear-gradient(180deg, rgba(6, 4, 6, 0) 0%, #060406 100%)
    no-repeat;
  z-index: 1;
}

h1 {
  font-family: var(--font-manrope);
  font-size: 54px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

h1 strong {
  color: #ef8ba5;
}

h2 {
  font-family: var(--font-manrope);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #d0d5dd;
}

h3 {
  font-family: var(--font-manrope);
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
  letter-spacing: 0.11em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #c277d0;
  padding: 12px 24px;
  margin-top: 54px;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, #060406 0%, #caa4ea 49.5%, #060406 100%);
}
