.home {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home header {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.bg {
  background: url(/assets/images/background.svg) bottom -200px center no-repeat,
    url(/assets/images/background-pattern.svg) top center,
    var(--backgroundColor);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;

  /* fixes SVG rendering glitch on scroll in iOS */
  -webkit-transform: scale(1);
}

.logosContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  gap: 32px;
  width: 100%;
  align-items: stretch;
  align-self: center;
  justify-content: center;
}

.logosContainer img {
  height: 54px;
  filter: grayscale(1);
}

.home > section > * {
  max-width: 1100px;
}

.home > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 16px;
  padding-top: 54px;
  width: 100%;
}

.home > section:nth-of-type(1) {
  padding-top: calc(74px + 72px + 36px);
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;

  overflow: hidden;
}

.home > section:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: radial-gradient(
    circle at top,
    #06040600 30.16%,
    #3d1844 71.62%,
    var(--activeBaseColor) 86.82%,
    var(--activeHighlightColor) 100%
  );
  z-index: -1;
}

.home > section:nth-of-type(2) {
  position: relative;
  width: 100%;
}

.home > section:nth-of-type(2)::before {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 200px;
  /* height: 400px; */
  background: linear-gradient(180deg, #06040600 0%, var(--backgroundColor) 100%)
    no-repeat;
  z-index: 1;
}

.home h1,
.home h3 {
  font-size: 54px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  color: var(--highEmphasisTextColor);
}

.home p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: var(--textColor);
}

.home h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
  letter-spacing: 0.11em;
  text-align: center;
  color: var(--activeHighlightColor);
  padding: 12px 24px;
}

.specialHeadingContainer hr {
  border: none;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--transparentColor) 0%,
    #caa4ea 49.5%,
    var(--transparentColor) 100%
  );
}

.home h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 38.25px;
  text-align: left;
  color: var(--highEmphasisTextColor);
}

.home section section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  border-radius: 16px;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;

  background: linear-gradient(135.92deg, #191018cc 7.48%, #130c12cc 98.29%);
}

.home section section::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100dvw;
  height: 80px;
  /* height: 144px; */
  background: linear-gradient(180deg, #06040600 0%, var(--backgroundColor) 100%)
    no-repeat;
  /* z-index: 1; */
}

.home section section:nth-child(odd) {
  flex-direction: row-reverse;
}

.home section section img {
  width: 500px;
}

.home section section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--highEmphasisTextColor);
}

.homeResponsiveColumns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.homeResponsiveColumns section {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (max-width: 640px) {
  .home section .homeResponsiveColumns {
    flex-direction: column;
  }
}

.comingSoonTag {
  padding: 4px 10px;
  color: var(--activeTextColor);
  background: var(--activeOpaqueColor);
  border: 1px solid var(--activeBorderColor);
  border-radius: 6px;
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
}
