.container {
  /* Horizontal tabs */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  gap: 8px;

  background: #272727cc;
  border: 1px solid #b151c3;
  border-radius: 1000px;

  flex-grow: 0;
  width: fit-content;
}

.tab {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff80;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  border-radius: 100px;
  flex-grow: 0;
}

.tab:hover {
  color: var(--hoverTextColor);
}

.selected {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: var(--hoverTextColor);

  /* _Tab button base */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  margin: 0;

  background: #433f43;
}
